body {
    background-color: #121212; 
    color: #e0e0e0; 
    font-family: 'Inter', sans-serif; 
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

canvas {
    position: absolute;
    top: 0;
    right: 40%;
    z-index: -1; 
}

.logo {
    display: block;
    margin: 60px auto;
    width: 150px;
}

.container {
    max-width: 50%;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}

h1 {
    color: #ffffff;
    font-weight: 700; 
    margin-bottom: 30px;
    font-size: 3em;
}

h2.suggestions-title {
    color: #dddddd; 
    margin: 40px 0 15px;
    text-align: left;
    font-weight: 500;
}

form {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

input[type="text"] {
    flex: 1;
    padding: 20px;
    border: none;
    border-radius: 30px;
    background-color: #1e1e1e;
    color: #e0e0e0;
    font-size: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.send-button {
    border-radius: 30px;
    background-color: #9b59b6;
    color: white;
    padding: 16px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
    border: none;
}

.send-button:hover {
    background-color: #8e44ad;
}

.about-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: #9b59b6;
    border: 1px solid #9b59b6;
    border-radius: 30px;
    text-decoration: none;
    margin-top: 30px;
    transition: background-color 0.3s, color 0.3s; 
    font-size: 16px;
}

.about-button:hover {
    background-color: #9b59b6;
    color: white; 
}

.example-questions li {
    padding: 16px;
    background-color: #2e2e2e;
    border-radius: 30px;
    margin: 10px 0;
    list-style-type: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.example-questions li:hover {
    background-color: #3a3a3a;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

#answerSection {
    display: none;
    text-align: left;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #2c2c2c;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

#responseText {
    font-size: 16px;
    color: #e0e0e0;
    line-height: 1.6;
    word-wrap: break-word;
}

.markdown h1, .markdown h2, .markdown h3 {
    color: #9b59b6;
    margin-top: 15px;
}

.markdown ul {
    padding-left: 20px;
}

.markdown a {
    color: #9b59b6;
    text-decoration: underline;
}

.markdown a:hover {
    color: #8e44ad;
}